.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
*{
    margin:0;
    border: 0;
    cursor: none;
  
}
body{
  background-color: black;
  
}
nav{
position: fixed;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 24px;
gap: 16px;
justify-content: center;


left: calc(50% - 524px/2 - 2.9px);
top: 48px;

background-color:#1A221E;
border: 1px solid #CBFFDE;
box-shadow: 0px 0px 4.35233px #38FF7E, 0px 0px 2.17617px #38FF7E;

z-index: 2;
}

nav a{
font-family: "Courier Prime",monospace;
color: #CBFFDE;
text-shadow: 0px 0px 4.35233px rgba(56, 255, 126, 0.5), 0px 0px 2.17617px rgba(56, 255, 126, 0.5);

}
nav a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.welcome{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(18,18,18);
    background: linear-gradient(180deg, rgba(18,18,18,1) 64%, rgb(7, 63, 5) 100%); 
    
}

.welcome p{
    /* Web/Heading/Headline 2 */


font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 2rem;
text-align: center;


color: #CBFFDE;

text-shadow: 0px 0px 4.35233px rgba(56, 255, 126, 0.5), 0px 0px 2.17617px rgba(56, 255, 126, 0.5);

}
.second h1{
  font-family: "Courier Prime",monospace;
  color: #CBFFDE;
text-shadow: 0px 0px 4.35233px rgba(56, 255, 126, 0.5), 0px 0px 2.17617px rgba(56, 255, 126, 0.5);
text-align: center;
padding-top: 12rem;
font-weight: 10;
font-size: 2rem;
}
.second{
  min-height: 90vh;
  background: rgb(18,18,18);
  background: linear-gradient(0deg, rgba(18,18,18,1) 64%, rgb(7, 63, 5) 100%); 
  filter: blur(10);
  display: flex;
  flex-direction: column;
}
.second p{
  text-align: center;
 
  font-family: "Courier Prime",monospace;
  text-shadow: 0px 0px 4.35233px rgba(56, 255, 126, 0.5), 0px 0px 2.17617px rgba(56, 255, 126, 0.5);
  color: #CBFFDE;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 4rem;
}
/* Body/Medium/Body 1 */


.tech_stack{
  font-family: "Courier Prime",monospace;
  font-size: 2rem;
  color: #CBFFDE;
text-shadow: 0px 0px 4.35233px rgba(56, 255, 126, 0.5), 0px 0px 2.17617px rgba(56, 255, 126, 0.5);
text-align: center;
padding-top: 4rem;
font-weight: 10;
}
.second .logos{
  padding-top: 4rem;
  text-align: center;
}


.work_parent{
  background: rgb(5,11,8);
  background: linear-gradient(180deg, rgba(5,11,8,1) 0%, rgba(7,14,10,1) 100%); 
  width: 75vw;
  height: 25rem;
  margin-top: 8rem;
  border-radius: 1rem;
  border: 0.1rem solid white;
  border-image: linear-gradient(0deg, rgba(23,39,29,1) 57%, rgba(46,101,65,1) 85%, rgba(57,139,86,1) 100%); ; 
  border-image-slice: 1;
  align-self: center;
}
.second .socials{
  padding-top: 4rem;
  text-align: center;
}
.second .logos{
  display: flex;
  justify-content: center;
}
.second .logos p{
  padding: 0rem 0.5rem;
}
.second .socials p{
  padding: 0rem 0.5rem;
}
.cursor{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  filter: blur(30px);
  background-color: #00ff4093;
  top : 0px;
  left : 0px;
  position: fixed;
  z-index: 1;
  transform: translate(-50%,-50%);
  pointer-events: none;
}
